@use '../../../styles/colors.scss';
@use '../../../styles/mixins.scss';

.hero {
  align-items: flex-end;
  background-color: colors.$greenColor;
  display: flex;
  height: 100%;
  justify-content: center;
  min-height: 65vh;
  overflow-x: hidden;
  position: relative;
  width: 100%;

  .hero__content-background-desktop {
    bottom: 50%;
    height: auto;
    position: absolute;
    left: 0;
    right: auto;
    transform: rotate(-90deg);
    width: auto;

    @include mixins.md {
      display: flex;
      height: 100%;
      position: absolute;
      left: auto;
      right: -350px;
      top: 0;
      transform: rotate(0);
      width: auto;

      @include mixins.lg {
        right: -250px;
      }

      @include mixins.xl {
        right: -150px;
      }

      @include mixins.xxl {
        right: -100px;
      }
      @include mixins.xxxl {
        right: 0;
      }
    }
  }

  .hero-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: flex-end;
    max-width: 1568px;
    padding-top: 25rem;
    width: 90%;

    .hero__content {
      align-self: flex-end;
      display: flex;
      flex-direction: column;
      margin-top: 1rem;

      .hero__content-text {
        color: colors.$whiteColor;
        font-size: clamp(2rem, 4vw, 4.6rem);
        font-weight: 200;

        @include mixins.md {
          width: 55%;
        }
      }
      .hero__content-button {
        -moz-background-clip: padding;
        -moz-border-radius: 20px;
        -webkit-background-clip: padding-box;
        -webkit-border-radius: 20px;
        background-clip: padding-box;
        background-color: colors.$blueColor;
        border-radius: 20px;
        border: none;
        border: 1px solid transparent;
        color: colors.$greenColor;
        font-size: clamp(1.2rem, 2.3vw, 1.6rem);
        margin: 2.5rem 0 4rem 0;
        overflow: hidden;
        padding: 1.6rem 3.2rem;
        position: relative;
        text-transform: uppercase;
        transition: 0.2s ease-in-out;
        z-index: 1;

        &:hover {
          background-color: colors.$greenColor;
          border: 1px solid colors.$blueColor;
          color: colors.$blueColor;
          cursor: pointer;
        }
      }
    }
  }
}
